<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanjiang.talent.mapper.UserMapper">
    <select id="getStudentOrTeacher"  resultType="com.sanjiang.talent.vo.UserDTO">
      select * from user where is_teacher = #{type} order by create_time desc limit #{currentIndex}, #{rows}
    </select>

    <insert id="createStudentOrTeacher" parameterType="com.sanjiang.talent.po.User">
        insert into user(id, user_name, chs_name, is_teacher, password, gender, position, department,  create_by, create_time)values(#{id}, #{userName}, #{chsName}, #{isTeacher}, #{password}, #{gender}, #{position}, #{department},#{createBy}, #{createTime})
    </insert>

    <delete id="deleteStudentOrTeacher">
        delete from user where id in<foreach collection="idList" item="idList" open="(" separator="," close=")">#{idList,jdbcType=VARCHAR}</foreach>
    </delete>
</mapper>